* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
  }
  
  body {
    background-color: #14213D;

    
  }


  main {
    margin-top: 100px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contenedor-secciones {
    background-image:
    linear-gradient(0deg, #14213D 0%, rgba(5, 1, 51, 0) 100%), url("./estadio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

  /*******Anclas*************/

  #ancla-servicios {
    margin-top: -1000;

  }

  hr {
    margin: 70px 0;
    background-color: #AEDAE9;
    height: 5px;
  }

  .corte-home{
    width: 100%;
    height: 100%;
    background-image:
    linear-gradient(0deg, rgba(197,248,200,1) 0%, rgba(253,187,45,0.3561799719887955) 100%), url("./campo-de-juego.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; 
    display:flex;
    border: solid #FF7800 3px;
  
  }
  .corte-home div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .corte-home div h2{
    color: #f9989f;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 2px 2px 10px black;

    
  
  }
  
  
  /*******configuracion del menu*************/
  header{
    position: fixed; 
    top: 0;
    width: 100vw;
    height: 80px;
      padding: 10px;
    background-color: #14213D;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    z-index: 999;
    opacity: 0.9;
  }
  .logo{
    display: block;
    color: #FF7800;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    position: absolute;
    display: flex;
    font-weight: 700;
    text-decoration: none;
    margin-left: -15px;
  }
  .menu-cel{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #FF7800;
    position: absolute;
    right: 0px;
    
  }
  .menu-cel.active::before{
    content: "\f00d";
    font-family: fontAwesome;
    line-height: 40px;
  }
  .menu-cel::before{
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 40px;
    
  }
  nav ul{
    display: flex;
    
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #FF7800;
  }
  nav{
    display: none;
  }
  nav.active{
    display: block;
    width: 100%;
  
  }

  
  nav.active ul{
    display: block;
    width:100% ;
    margin-top: 70px;
    background-color: #14213D;
    border-radius: 5px;
  }
  nav.active ul li a{
    
    margin: 0;
  }
  
  nav ul li a.active,
  nav ul li a:hover{
    background-color:#E5E5E5 ;
    letter-spacing: 1px;
    transition: 500ms;
    transform: translate(-5px,-5px);
    border-radius: 5px;
  
  }

  h1 {
    font-size: 27px;
  }

  header img {
    margin-right: -10px;
    height: 90%;
  }
  
  
      /****************body home************/
  
      .section-home-first {
        height: 100vh;      /****************En mobile poner 100vh************/
        margin-top:-20px;
        margin-bottom: 50px;
      }
  
  
      .container-plataforma-educativa {
        margin: auto;
        background-color: #14213D;
        width: 275px;
        border: 1px solid #FF7800;
        padding: 5px;
        border-radius: 5px;
        position: relative;
        top: 10vh;
      }

      
      .container-plataforma-educativa h2 {
        color: #FF7800;
        font-size: 18px;
        margin: 0;
      }


      .btn {
        border: none;
        margin: 0 auto;
        height: 0;
        position: relative;
        top: 50vh;
      }

      .btn i{
        font-size:35px;
        position: relative;
        top: 2px;
      }
      
      .btn button {
        color: #FF7800;
        margin: 15px 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        border: 1px solid #FF7800;
        transition: all 0.2s;
        padding: 5px;
        background-color: #14213D;
        border-radius: 5px;
        width: 150px;
        height: 70px;
      }
      
      .btn button:hover {
        color: white;
        background-color: #FF7800;
        cursor: pointer;
      }

      .container-plataforma-educativa-2 {
        margin: auto;
        background-color: #14213D;
        width: 210px;
        border: 1px solid #FF7800;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        top: 30vh;

      }

      
      .container-plataforma-educativa-2 h2 {
        color: #FF7800;
        font-size: 18px;
        margin: 0;
      }

    
  

        
      .section-home-second {
        min-height: 50vh;
        margin-bottom: 50px;
        margin-top: 50px;
      }

      .section-home-second h2{
          color: #FF7800;
          font-size: 20px;
        
      }

      .div-section-second {
        display:flex;
        justify-content: space-between;
        height: 60%;
        flex-wrap: wrap;
      }

      .div-section-second div {
        display:flex;
        width: 48%;
        /* background-color: rgb(139, 139, 139); */
        background-color: #AEDAE9;
        padding: 2px 9px;
        border: 1px solid #14213D;
        border-radius: 5px;
        box-shadow: 2px 3px 10px rgb(0, 0, 0);
      }

      
      /*   DIV VIEJO FONDO CLARO 
      
      .div-section-second div {
        display:flex;
        width: 45%;
        background-color: #E5E5E5;
        padding: 2px 9px;
        border: 1px solid #FF7800;
        border-radius: 5px;
        box-shadow: 2px 3px 10px rgb(253, 163, 18);
      } */

      .div-section-second ul li {
        list-style: none;
        text-align: left;
        font-size: 14px;
        line-height: 30px;
      }




      .section-home-3 {
        min-height: 50vh;
        margin-bottom: 30px;

      }

      .section-home-3 h2{
          color: #FF7800;
          font-size: 25px;
        
      }

      .div-section-3 {
        display:flex;
        justify-content: space-around;
        height: 60%;
        flex-wrap: wrap;
        width: 100%;
        }

      .div-section-3 div {
        display:flex;
        width: 43%;
        height: 70px;
        background-color: #AEDAE9;
        padding: 2px 9px;
        border: 1px solid #14213D;
        border-radius: 5px;
        box-shadow: 2px 3px 10px rgb(0, 0, 0);
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }

      .info-quienes-somos {
        width: 92%;
        background-color: #AEDAE9;
        padding: 2px 9px;
        border: 1px solid #14213D;
        border-radius: 5px;
        box-shadow: 2px 3px 10px rgb(0, 0, 0);
        margin: auto;

      
      }




      .section-home-4 {
        margin-bottom: 30px;
        padding: 0 4px;

      }

      .section-home-4 h2{
          color: #FF7800;
          font-size: 25px;
        
      }

      .section-home-4 p{
        color: #FF7800;
        font-size: 18px;
        margin-bottom: 25px;
      
    }

      .div-section-4 {
        display:flex;
        justify-content: space-around;
        height: 60%;
        flex-wrap: wrap;
        width: 100%;
        }

      .div-section-4 div {
        display:flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
























      

      .section-home-third {
        height: 50vh;
        background-color: #FF7800;
        margin: 0 10px 10px;
        display: none;
      }

      .section-home-four {
        height: 50vh;
        margin-bottom: 10px;
        display: none;

      }

      .section-home-five {
        height: 50vh;
        background-color: #FF7800;
        margin: 0 10px 10px;
        display: none;

      }
  
      .section-home-second img {
        object-fit: cover;    /*  CON ESTE OBJECT-FIT HICE QUE LA IMAGEN NO SE DEFORME   */
        width: 100%;
  
    }
  
      .container-home-second{
          height: 33%;
          display:flex;
          justify-content: space-around;
          margin-bottom: 5px;
      }
  
      .container-home-fotos-pc {
        display:none;
      }
  
      .container-img-homen-second{
        height: 100%;
        width: 48%;
        display:flex;
        border: solid #f9989f 3px;
    }
  
   
    
  
  /****************detalle del producto************/

  
  h2 {
    margin: 20px 0;
    font-weight: 500;
    font-size: 24px;
    color: #282828;
    text-align: center;
  }
  
  .img-secundarias {
    display: none;
  }
  
  .img-principal {
    display: block;
    width: 303px;
    height: auto;
    margin: auto;
  }
  
  .img-principal img {
    width: 100%;
    margin: auto;
  }
  
  .descripcion-producto {
    border-bottom: 1px solid #b4b3b7;
  }
  
  p {
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #282828;
  }
  



  .corte div{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  .corte div h2{
    color: #f9989f;
    font-size: 54px;
    font-weight: 700;
    
  
  }
  .corte{
    width: 100vw;
    height: 250px;
    margin: 50px 0;
    background-image:
    linear-gradient(0deg, rgba(197,248,200,1) 0%, rgba(253,187,45,0.3561799719887955) 100%), url("/img/img/fondo-flores.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
  
  }


  .whatsapp-seccion {
    height: 50px;
    width: auto;
  }
  
  /***************footer**********************/
  #whatsapp {
    height: 40px;
    width: auto;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 999;
  }
  
  
  footer {
    width: 100vw;
    height: 150px;
    background-color: #282828;
    justify-content: space-around;
    align-items: left;
    padding-top: 20px;
    margin-top: -70px;
  }
  footer .contacto{
    width: 50%;
    padding-left: 25px;  
  }
  
    footer .contacto a{
      display: block;
      text-decoration: none;
      color: #b4b3b7;
      margin-bottom: 4px;
    }
  
    footer .contacto a:hover{
      display: block;
      text-decoration: none;
      color: #FF7800;
    }
  
    footer .contacto h3{
      color: #b4b3b7;
      font-size: 20px;
      text-align: left;
      font-weight: 900;
    }
  
  footer .contacto p{
    color: #b4b3b7;
    padding: 5px;
  }
  footer .redes{
    text-align: center;
    width: 50%;
    
    
  }
  footer .redes p{
    color: #b4b3b7;
  }
  footer .redes a{
    text-decoration: none;
    color: #b4b3b7;
    font-size: 24px;
    margin: 5px;
    
    
  }
  footer .face:hover{
    color:#f9989f;
    font-size: 26px;
    
  }
  footer .insta:hover{
    color:#c5f8c8;
    font-size: 26px;
    
  }
  footer .map:hover{
    color:#faf096;
    font-size: 26px;
    
  }
  
  @media (min-width: 678px) {
  

  
     /****************body home************/


     .container-plataforma-educativa {
      position: relative;
      margin: auto;
      background-color: #14213D;
      position:relative;
      bottom: 615px;
      width: 70%;
      max-width: 550px;
      border: 1px solid #FF7800;
      padding: 10px 40px;
      border-radius: 5px;
    }

    
    .container-plataforma-educativa h2 {
      color: #FF7800;
      font-size: 25px;
      margin: 0;
    }

    .container-plataforma-educativa-2 {
      position: relative;
      margin: auto;
      background-color: #14213D;
      position:relative;
      bottom: 300px;
      width: 40%;
      max-width: 350px;
      border: 1px solid #FF7800;
      border-radius: 5px;
      padding: 5px;

    }

    
    .container-plataforma-educativa-2 h2 {
      color: #FF7800;
      font-size: 25px;
      margin: 0;
    }

  

  
    /* CODIGO BARRA CORTE --------------------------------------------*/
    .corte div{
    
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .corte div h2{
      color: #f9989f;
      font-size: 54px;
      font-weight: 700;
      
    
    }
    .corte{
      width: 100vw;
      height: 250px;
      margin: 50px 0;
      background-image:
      linear-gradient(0deg, rgba(197,248,200,1) 0%, rgba(253,187,45,0.3561799719887955) 100%), url("/img/img/fondo-flores.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover; 
    
    }
  
  
    .corte-home div{
    
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }
    .corte-home div h2{
      color: #f9989f;
      font-size: 54px;
      font-weight: 700;
      text-shadow: 2px 2px 10px black;
  
      
    
    }
    .corte-home{
      width: 100vw;
      height: 150px;
      margin: 0;
      background-image:
      linear-gradient(0deg, rgba(197,248,200,1) 0%, rgba(253,187,45,0.3561799719887955) 100%), url("/img/img/fondo-flores.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover; 
    
    }
    /* HASTA ACA CODIGO BARRA CORTE --------------------------------------------*/
  


    /***********************/
    .menu-cel{
      display: none;
  }
  nav{
      display: block;
      position: absolute;
      right: 20px;
  }
    /***********************/
    h2 {
      display: block;
      margin: 20px 0;
      font-weight: 500;
      font-size: 35px;
      color: #282828;
      text-align: center;
    }
  

    .footer-producto-principal {
      position: absolute;
      max-width: 550px;
      display: block;
      width: 50vw;
      top: 30px;
      right: 20px;
      
    }
    .footer-producto-principa form{
      margin: 10px 0 0 0;
    }
    .img-secundarias {
      display: contents;
      position: relative;
      width: 50vw;
      max-width: 550px;
      margin: auto;
    }
  
    .img-secundarias img {
      height: auto;
      width: auto;
      max-width: 110px;
      max-height: 100px;
      margin: 4px;
    }
  
    /************************************************/
    /********* productos relacionados **************/
    .productos-relacionados {
      width: 100vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
    }
  
    .articulo-relacionado {
      width: 45%;
      margin:0px 3px;
    }
  }
  
  @media (min-width: 1200px) {
   /************* menu ****************************/
   header{
    margin: 0 auto;
  
  }
   /******************************************/   
    .producto {
      display: inline-block;
      max-width: 1200px;
    }
  
    .img-principal {
      display: block;
      max-width: 550px;
      height: auto;
      margin: auto;
  
      text-align: start;
    }
  
    .img-principal img {
      width: 100%;
      margin: auto;
    }
  
    .descripcion-producto {
      border-bottom: 1px solid #282828;
    }
  
    h2 {
      margin: 20px 0;
      font-weight: 500;
      font-size: 35px;
      color: #282828;
      text-align: center;
    }
  
    .img-secundarias {
      display: block;
      position: relative;
      width: 50vw;
      max-width: 550px;
      justify-content: space-center;
      align-items: center;
      margin: auto;
    }
  
    .img-secundarias img {
      height: auto;
      width: auto;
      max-width: 120px;
      max-height: 100px;
      margin: 7px;
    }
  
    /************************************************/
    /********* productos relacionados **************/
    .productos-relacionados {
      width: 100vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1200px;
     
    }
  
    .articulo-relacionado {
      width: 20%;
      margin:0px 3px;
    }
    .img-relacionados{
      width: 100%;
    }
  
    #whatsapp {
      height: 60px;
      width: auto;
      position: fixed;
      bottom: 20px;
      right: 15px;
      z-index: 999;
    }
  
  }
  