* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
  }

  body {
      background-color: black;

}


  header{
    position: fixed; 
    top: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-color: #14213D;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    z-index: 999;
    opacity: 0.9;
  }

   header h1 {
       text-align: center;
   }





   .container-curv {
    height: 25vh;
    overflow: hidden;
    margin-top: 80px;
   }

   .container-curv svg {
    height: 100%;
    width: 100%;
   }

   /* https://stackoverflow.com/questions/3796025/fill-svg-path-element-with-a-background-image */


   .container-curv path {
    stroke: none; 
    fill: #FCA311;
   
   }

   
   main { 
       margin-top: 80px;
       padding: 0 20px;
   }



   section {

   }

   .section-home-first { 
        height: 100vh;
        width: 100%;
        background-color: #14213D;
   }

   .section-home-first .container-info { 
    height: 300px;
    display:flex;
    justify-content: space-around;

   }



   .section-home-first .container-left { 
        height: 100%;
        width: 70%;
        background-color: rgb(43, 90, 67);
   }

   

   .section-home-first .container-rigth { 
    height: 100%;
    width: 20%;
    background-color: rgb(143, 197, 42);
}

   .section-home-first h2 {
       text-align: center;
       padding-top: 20px;
   }

   .section-home-second { 
    height: 500px;
    width: 100%;
    background-color: rgb(128, 122, 122);
    }

    .section-home-third { 
        height: 500px;
        width: 100%;
        background-color: rgb(67, 103, 202);
        }

    footer {
    height: 100px;
    width: 100%;
    background-color: rgb(85, 3, 3);
    }